agate==1.7.1
aiohttp==3.9.1
aiosignal==1.3.1
airbyte==6.0.0
airbyte-cdk==0.60.1
airbyte-protocol-models==0.5.1
airbyte_demo @ file:///C:/Users/NischalAremanda/Documents/NISCHAL_AREMANDA/PROJECTS/Data%20Migration%20Platform/test/airbyte_demo
alembic==1.13.1
altair==5.2.0
aniso8601==9.0.1
annotated-types==0.6.0
anyio==3.7.1
asgiref==3.7.2
asn1crypto==1.5.1
attrs==23.1.0
Babel==2.14.0
backoff==2.2.1
beautifulsoup4==4.12.2
blinker==1.7.0
bracex==2.4
cachetools==5.3.2
cattrs==23.2.3
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cmdstanpy==1.2.0
colorama==0.4.6
coloredlogs==14.0
connectors==4.1
contourpy==1.2.0
croniter==2.0.1
cryptography==41.0.7
cx-Oracle==8.3.0
cycler==0.12.1
Cython==3.0.8
dagit==1.6.4
dagster==1.6.4
dagster-airbyte==0.22.4
dagster-dbt==0.22.4
dagster-graphql==1.6.4
dagster-pipes==1.6.4
dagster-postgres==0.22.4
dagster-webserver==1.6.4
dataclasses-json==0.6.3
dataclasses-json-speakeasy==0.5.11
dbt==1.0.0.35.27
dbt-core==1.7.7
dbt-extractor==0.5.1
dbt-postgres==1.7.7
dbt-semantic-interfaces==0.4.3
dbt-snowflake==1.7.0
Deprecated==1.2.14
distro==1.8.0
Django==3.2.10
django-cors-headers==3.13.0
django-environ==0.8.1
djangorestframework==3.13.1
docstring-parser==0.15
dpath==2.0.8
fastapi==0.104.1
filelock==3.13.1
Flask==3.0.2
fonttools==4.47.2
frozenlist==1.4.1
fsspec==2023.12.2
genson==1.2.2
gitdb==4.0.11
GitPython==3.1.40
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-auth==2.26.1
google-cloud-aiplatform==1.38.1
google-cloud-bigquery==3.14.1
google-cloud-core==2.4.1
google-cloud-resource-manager==1.11.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-generativeai==0.3.2
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gql==3.5.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
grpc-google-iam-v1==0.13.0
grpcio==1.60.1
grpcio-health-checking==1.60.1
grpcio-status==1.60.0
gunicorn==21.2.0
h11==0.14.0
holidays==0.40
httpcore==1.0.2
httptools==0.6.1
httpx==0.25.2
huggingface-hub==0.20.1
humanfriendly==10.0
idna==3.6
importlib-metadata==6.11.0
importlib-resources==6.1.1
isodate==0.6.1
itsdangerous==2.1.2
jaraco.classes==3.3.1
Jinja2==3.1.2
joblib==1.3.2
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonref==0.3.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keyring==24.3.0
kiwisolver==1.4.5
langchain==0.0.352
langchain-community==0.0.6
langchain-core==0.1.3
langchain-google-genai==0.0.5
langsmith==0.0.74
leather==0.3.4
litellm==1.18.8
llama-index==0.9.20
Logbook==1.5.3
Mako==1.3.2
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
mashumaro==3.12
matplotlib==3.8.2
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
mistralai==0.0.9
more-itertools==10.2.0
msgpack==1.0.7
multidict==6.0.4
mypy-extensions==1.0.0
mysql-connector==2.2.9
mysql-connector-python==8.2.0
mysqlclient==2.2.1
nest-asyncio==1.5.8
networkx==3.2.1
nltk==3.8.1
numpy==1.26.4
openai==1.6.0
opencv-python==4.9.0.80
orjson==3.9.10
packaging==23.2
pandas==2.2.0
pandasql==0.7.3
parsedatetime==2.6
pathspec==0.11.2
pendulum==2.1.2
pillow==10.2.0
platformdirs==3.11.0
plotly==5.18.0
prophet==1.1.5
proto-plus==1.23.0
protobuf==4.21.12
psutil==5.9.8
psycopg2==2.9.9
psycopg2-binary==2.9.9
pyarrow==14.0.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.14
pydantic_core==2.14.5
pydeck==0.8.1b0
Pygments==2.17.2
PyJWT==2.4.0
pyOpenSSL==23.3.0
pyparsing==3.1.1
pyrate-limiter==3.1.1
pyreadline3==3.4.1
pyrsistent==0.20.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-slugify==8.0.3
pytimeparse==1.1.8
pytz==2023.3.post1
pytzdata==2020.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
redis==5.0.1
referencing==0.32.0
regex==2023.10.3
requests==2.31.0
requests-cache==1.1.1
requests-toolbelt==1.0.0
rich==13.7.0
rpds-py==0.16.2
rq==1.15.1
rsa==4.9
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.12.0
seaborn==0.13.2
shapely==2.0.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowflake-connector-python==3.6.0
sortedcontainers==2.4.0
soupsieve==2.5
-e git+https://github.com/airbytehq/airbyte/@a9f7db9aa11fa3a3dcd756a3597499ee60103450#egg=source_python_http_example&subdirectory=airbyte-integrations\connectors\source-python-http-example
SQLAlchemy==2.0.23
sqlparse==0.4.4
stanio==0.3.0
starlette==0.27.0
streamlit==1.29.0
structlog==24.1.0
tabulate==0.9.0
tenacity==8.2.3
text-unidecode==1.3
threadpoolctl==3.2.0
tiktoken==0.5.2
tokenizers==0.15.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.3
toolz==0.12.0
toposort==1.10
tornado==6.4
tqdm==4.66.1
transformers==4.36.2
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata==2023.3
tzlocal==5.2
universal-pathlib==0.1.4
url-normalize==1.4.3
urllib3==1.26.18
uvicorn==0.22.0
validators==0.22.0
watchdog==3.0.0
watchfiles==0.21.0
wcmatch==8.4
websockets==12.0
Werkzeug==3.0.1
wrapt==1.16.0
yarl==1.9.4
zipp==3.17.0
